<body>
  <div class="container">
    <img src="/public/css/assets/logo.jpg" width="100px">
    <br>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>Contact</h3>
        <ul>
          <li><i class="fa fa-road"></i> San Fernando, Pampanga</li>
          <li><i class="fa fa-phone"></i> +63 921 042 6829</li>
          <li><i class="fa fa-envelope"></i> sugoiifoods@gmail.com</li>
        </ul>
      </div>
      <div class="contact">
        <h3>Order Here</h3>
        <p style="color: #06640a;">{{msg}}</p>
        <p style="color: #d5302e;">{{vldMsg}}</p>

        <form method="POST" action="send" onsubmit="return confirm('Are you sure about the order?');">
          <p>
            <label>Name*</label>
            <input class="input" type="text" name="name" placeholder="John Doe" value="{{name}}" required >
          </p>
          <p>
            <label>Address*</label>
            <input class="input" type="text" name="address" placeholder="01 Street, City" value="{{address}}" required >
          </p>
          <p>
            <label>Email Address*</label>
            <input class="input" type="email" name="email" placeholder="johndoe@email.com" value="{{emailAddress}}" required >
          </p>
          <p>
            <label>Phone*</label>
            <input class="input" type="tel" pattern="[0-9]{4}[0-9]{3}[0-9]{4}" placeholder="09051234567" name="phone" value="{{phone}}" required >
          </p>
          <p>
            <label>Payment*</label>
            <select id="mode" name="modePmt">
              <option value="BDO">BDO</option>
              <option value="BPI">BPI</option>
              <option value="CoD">Cash on delivery</option>
            </select>
          </p>
          <p>
            
          </p>
          <p>
            Pork Gimbap <input style="width: auto;" type="checkbox" name="porkGimbap" id="idPorkGimbap"
              onclick="toggPork()">
            <br> Qty <input min="1" class="number" type="number" name="porkQty" id="idPorkQty" disabled>
          </p>
          <p>
            Vegan Gimbap <input style="width: auto;" type="checkbox" name="veganGimbap" id="idVeganGimbap" onclick="toggVegan()">
            <br> Qty <input min="1" class="number" type="number" name="veganQty" id="idVeganQty" disabled>
          </p>
          <p>
            Bulgogi Gimbap <input style="width: auto;" type="checkbox" name="bulgogiGimbap" id="idBulgogiGimbap" onclick="toggBulgogi()">
            <br> Qty <input min="1" class="number" type="number" name="bulgogiQty" id="idBulgogiQty" disabled>
          </p>
          <p>
            Spam Gimbap <input style="width: auto;" type="checkbox" name="spamGimbap" id="idSpamGimbap" onclick="toggSpam()">
            <br> Qty <input min="1" class="number" type="number" name="spamQty" id="idSpamQty" disabled>
          </p>
          <p>
            Gimbox(40) <input style="width: auto;" type="checkbox" name="gimbox40" id="idGimbox40"
              onclick="toggGimbox40()">
            <br> Select
            <select id="idSelect40" name="select40" disabled>
              <option value="Pork Gimbox">Pork</option>
              <option value="Vegan Gimbox">Vegan</option>
              <option value="Bulgogi Gimbox">Bulgogi</option>
              <option value="Spam and Egg Gimbox">Spam and Egg</option>
              <option value="Half n Half Gimbox">Half and half</option>
            </select>
            <br> Qty <input min="1" class="number" type="number" name="gimboxQty40" id="idGimboxQty40" disabled>
          </p>
            <p>
            Gimbox(80) <input style="width: auto;" type="checkbox" name="gimbox80" id="idGimbox80"
              onclick="toggGimbox80()">
            <br> Select
            <select id="idSelect80" name="select80" disabled>
              <option value="Pork Gimbox">Pork</option>
              <option value="Vegan Gimbox">Vegan</option>
              <option value="Bulgogi Gimbox">Bulgogi</option>
              <option value="Spam and Egg Gimbox">Spam and Egg</option>
              <option value="Half n Half Gimbox">Half and half</option>
            </select>
            <br> Qty <input min="1" class="number" type="number" name="gimboxQty80" id="idGimboxQty80" disabled>
          </p>

          <p class="full">
            <label>Instructions (Optional)</label>
            <textarea name="instructions" rows="5">{{instructions}}</textarea>
          </p>
          <p class="full">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
  <div>
    <script type="text/javascript" src="/public/js/functions.js">
    </script>
  </div>
  <div class="copy">
     <div class="logos">
       <a class="linkIns" target="_blank" href="https://www.instagram.com/sugoiiph/">
             <img src="/public/css/assets/icons8-instagram-40.png"> 
       </a>
       <a class="linkIns" target="_blank" href="https://www.facebook.com/sugoiiph/">
                <img src="/public/css/assets/icons8-facebook-40.png">  
       </a>
     </div>
          <p><b>Sugoii Asian Cuisine</b> © 2020</p>
  </div>
</body>